<html>
<head>
    <title>Upload</title>

<style>
    	header {
    		font-size: 20px;
    		text-align: center;
    	}
    </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<header>
    Deep Learning Cancer Detection in Cell Images </header>
<body>
<form id="myform" method=POST enctype=multipart/form-data action="/">
    <input type="file" name="photo" onchange="previewFile()"/><br><br>
    <input type="submit"/>
</form>

<img src="" height="400" alt="Image preview...">

<div id="dataOut"></div>
</body>
<script>

    function previewFile() {
      var preview = document.querySelector('img');
      var file    = document.querySelector('input[type=file]').files[0];
      var reader  = new FileReader();

      reader.addEventListener("load", function () {
        preview.src = reader.result;
      }, false);

      if (file) {
        reader.readAsDataURL(file);
      }
    }
</script>
</html>